.menu {
  background-color: rgb(242, 242, 242);
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-content: center;
  height: 55px;
  width: 100%;
  border-top: 1px solid rgb(242, 242, 242);
}

img {
  background-color: transparent;
  width: 110%;
}

.menu button {
  outline: none;
  background-color: transparent;
}
