.header {
  position: sticky;
  top: 0;
}

.search-input {
  border: 1px solid rgb(202, 198, 198);
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  height: 30px;
  width: 85%;
  margin-left: 5px;
  margin-right: 0px;
  outline: none;
}

.input-search-button {
  display: flex;
  justify-content: left;
}

.input-search-button img {
  width: 20px;
}

.search-img {
  background-color: rgb(206, 68, 68);
  border-radius: 0 5px 5px 0 ;
  height: 33px;
  margin-left: 0;
  width: 15%;
}

.search-div {
  width: 12%;
}

.search-div button {
  background-color: transparent;
}

.withoutSelector {
  transform: scale(1.3);
}

.withoutSelector:hover {
  cursor: pointer;
}

label {
  cursor: pointer;
  margin-left: 3px;
}

button {
  background-color: white;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.profileButton {
  background-color: transparent;
  border: none;
}

.topo {
  align-items: center;
  background-color: rgb(242, 242, 242);
  border-bottom: 1px solid rgb(242, 242, 242);
  display: flex;
  /* margin-bottom: 15px; */
  height: 56px;
  justify-content: space-between;
}

.search {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 10px;
  margin-top: 0;
}

.radiosAndFilterButton {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ingrediente , .first , .nome {
  align-items: center;
  display: flex;
  font-size: 15px;
}

h1 {
  font-weight: lighter;
  font-size: 150%;
}